In [3]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Mon Nov 14 20:02:12 2022

@author: Januario Cipriano
"""

'\nCreated on Mon Nov 14 20:02:12 2022\n\n@author: Januario Cipriano\n'

In [1]:
%autosave 5

Autosaving every 5 seconds

In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split

%matplotlib inline

In [5]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [6]:
df = pd.read_csv('../Exercise Files/Datasets/insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [7]:
count_na = df.isnull().sum()
count_na

age         0
sex         0
bmi         5
children    0
smoker      0
region      0
charges     0
dtype: int64

In [8]:
count_na[count_na > 0]

bmi    5
dtype: int64

In [9]:
df.drop('bmi', axis=1, inplace=True)

In [10]:
count_na = df.isnull().sum()

In [11]:
count_na

age         0
sex         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [12]:
count_na[count_na > 0]

Series([], dtype: int64)

In [13]:
df2 = pd.read_csv('../Exercise Files/Datasets/insurance.csv')
df2.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [14]:
df2.dropna(inplace=True)
df2.reset_index(drop=True, inplace=True)

In [15]:
count_na = df2.isnull().sum()
count_na

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [16]:
count_na[count_na > 0]

Series([], dtype: int64)

In [17]:
df3 = pd.read_csv('../Exercise Files/Datasets/insurance.csv')
df3.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [18]:
imputer = SimpleImputer(strategy='mean')
imputer.fit(df3['bmi'].values.reshape(-1, 1))
df3['bmi'] = imputer.transform(
    df3['bmi'].values.reshape(-1, 1))

In [19]:
count_na = df3.isnull().sum()
count_na

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [20]:
count_na[count_na > 0]

Series([], dtype: int64)

In [21]:
df4 = pd.read_csv('../Exercise Files/Datasets/insurance.csv')
df4.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [22]:
df4['bmi'].fillna(df4['bmi'].mean(), inplace=True)

In [23]:
count_na = df4.isnull().sum()
count_na

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [24]:
count_na[count_na > 0]

Series([], dtype: int64)

In [25]:
region = df['region']
region_encoded, region_categories = pd.factorize(region)

In [26]:
factor_region_mapping = dict(zip(region_categories,
                                 region_encoded))

In [27]:
factor_region_mapping

{'southwest': 0, 'southeast': 1, 'northwest': 1, 'northeast': 2}

In [28]:
region[:10]

0    southwest
1    southeast
2    southeast
3    northwest
4    northwest
5    southeast
6    southeast
7    northwest
8    northeast
9    northwest
Name: region, dtype: object

In [29]:
region_categories

Index(['southwest', 'southeast', 'northwest', 'northeast'], dtype='object')

In [30]:
region_encoded

array([0, 1, 1, ..., 1, 0, 2], dtype=int64)

In [31]:
factor_region_mapping

{'southwest': 0, 'southeast': 1, 'northwest': 1, 'northeast': 2}

In [32]:
region = df['region']
region_encoded = pd.get_dummies(region, prefix='')

In [39]:
sex = df.iloc[:, 1:2].values
smoker = df.iloc[:, 4:5].values

In [34]:
le = LabelEncoder()
sex[:, 0] = le.fit_transform(sex[:, 0])
sex = pd.DataFrame(sex)
sex.columns = ['sex']
sex

     sex
0      0
1      1
2      1
3      1
4      1
...   ..
1333   1
1334   0
1335   0
1336   0
1337   0

[1338 rows x 1 columns]

In [35]:
le_sex_mapping = dict(zip(le.classes_,
                          le.transform(le.classes_)))

In [36]:
le_sex_mapping

{'female': 0, 'male': 1}

In [37]:
sex[:10]

  sex
0   0
1   1
2   1
3   1
4   1
5   0
6   0
7   0
8   1
9   0

In [40]:
le = LabelEncoder()
smoker[:, 0] = le.fit_transform(smoker[:, 0])
smoker = pd.DataFrame(smoker)
smoker.columns = ['smoker']
le_smoker_mapping = dict(zip(le.classes_,
                              le.transform(le.classes_)))

In [41]:
le_smoker_mapping

{'northeast': 0, 'northwest': 1, 'southeast': 2, 'southwest': 3}

In [58]:
region = df.iloc[:,5:6].values #ndarray

## ohe for region
ohe = OneHotEncoder() 

region = ohe.fit_transform(region) # .toarray()
region = pd.DataFrame(region)
# region.columns = ['northeast', 'northwest', 
#                   'southeast', 'southwest']
print("Sklearn one hot encoder results for region:")  

region

Sklearn one hot encoder results for region:

                     0
0       (0, 1005)\t1.0
1         (0, 57)\t1.0
2        (0, 306)\t1.0
3       (0, 1097)\t1.0
4        (0, 254)\t1.0
...                ...
1333     (0, 746)\t1.0
1334     (0, 118)\t1.0
1335      (0, 32)\t1.0
1336      (0, 91)\t1.0
1337    (0, 1171)\t1.0

[1338 rows x 1 columns]