In [1]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Tue Nov 15 20:11:23 2022

@author: Januario Cipriano
"""

'\nCreated on Tue Nov 15 20:11:23 2022\n\n@author: Januario Cipriano\n'

In [2]:
%autosave 5

Autosaving every 5 seconds

In [59]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split


%matplotlib inline

In [5]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

In [90]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

In [101]:
from sklearn.svm import SVR
from sklearn.metrics import r2_score

In [8]:
df = pd.read_csv('../Exercise Files/Datasets/insurance.csv')

In [9]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [10]:
count_na = df.isnull().sum()
count_na

age         0
sex         0
bmi         5
children    0
smoker      0
region      0
charges     0
dtype: int64

In [11]:
count_na[count_na > 0]

bmi    5
dtype: int64

In [12]:
df.drop('bmi', axis=1, inplace=True)

In [13]:
count_na = df.isnull().sum()
count_na

age         0
sex         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [14]:
count_na[count_na > 0]

Series([], dtype: int64)

In [15]:
df2 = pd.read_csv('../Exercise Files/Datasets/insurance.csv')
df2.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [16]:
count_na = df2.isnull().sum()
count_na

age         0
sex         0
bmi         5
children    0
smoker      0
region      0
charges     0
dtype: int64

In [17]:
count_na[count_na > 0]

bmi    5
dtype: int64

In [19]:
imputer = SimpleImputer(strategy='mean')

In [20]:
imputer.fit(df2['bmi'].values.reshape(-1, 1))

SimpleImputer()

In [21]:
df2['bmi'] = imputer.transform(df2['bmi'].values.reshape(-1, 1))

In [22]:
count_na = df2.isnull().sum()
count_na

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [23]:
count_na[count_na > 0]

Series([], dtype: int64)

In [24]:
df3 = pd.read_csv('../Exercise Files/Datasets/insurance.csv')
df3.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [25]:
count_na = df3.isnull().sum()
df3.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [26]:
count_na[count_na > 0]

bmi    5
dtype: int64

In [28]:
df3.fillna(df3['bmi'].mean(), inplace=True)

In [29]:
count_na = df3.isnull().sum()
count_na

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [30]:
count_na[count_na > 0]

Series([], dtype: int64)

In [31]:
region = df3['region']
region_encoded, region_categories = pd.factorize(region)
factor_region_mapping = dict(zip(region_categories,
                                 region_encoded))

In [32]:
region[:10]

0    southwest
1    southeast
2    southeast
3    northwest
4    northwest
5    southeast
6    southeast
7    northwest
8    northeast
9    northwest
Name: region, dtype: object

In [33]:
region_encoded

array([0, 1, 1, ..., 1, 0, 2], dtype=int64)

In [34]:
region = df3['region']
region_encoded = pd.get_dummies(region, prefix='')

In [35]:
region_encoded

      _northeast  _northwest  _southeast  _southwest
0              0           0           0           1
1              0           0           1           0
2              0           0           1           0
3              0           1           0           0
4              0           1           0           0
...          ...         ...         ...         ...
1333           0           1           0           0
1334           1           0           0           0
1335           0           0           1           0
1336           0           0           0           1
1337           0           1           0           0

[1338 rows x 4 columns]

In [37]:
sex = df3.iloc[:, 1:2].values
smoker = df3.iloc[:, 4:5].values

In [38]:
le = LabelEncoder()
sex[:, 0] = le.fit_transform(sex[:, 0])
sex = pd.DataFrame(sex)
sex.columns = ['sex']
sex

     sex
0      0
1      1
2      1
3      1
4      1
...   ..
1333   1
1334   0
1335   0
1336   0
1337   0

[1338 rows x 1 columns]

In [39]:
le_sex_mapping = dict(zip(le.classes_,
                          le.transform(le.classes_)))

In [40]:
le_sex_mapping

{'female': 0, 'male': 1}

In [41]:
le = LabelEncoder()
smoker[:, 0] = le.fit_transform(smoker[:, 0])
smoker = pd.DataFrame(smoker)
smoker.columns = ['smoker']
smoker

     smoker
0         1
1         0
2         0
3         0
4         0
...     ...
1333      0
1334      0
1335      0
1336      0
1337      1

[1338 rows x 1 columns]

In [42]:
le_smoker_mapping = dict(zip(le.classes_,
                             le.transform(le.classes_)))

In [43]:
le_smoker_mapping

{'no': 0, 'yes': 1}

In [50]:
region = df3.iloc[:, 5:6].values

ohe = OneHotEncoder()

region = ohe.fit_transform(region).toarray()
region = pd.DataFrame(region)
region.columns = ['northeast', 'northwest', 
                  'southeast', 'southwest']
region

      northeast  northwest  southeast  southwest
0           0.0        0.0        0.0        1.0
1           0.0        0.0        1.0        0.0
2           0.0        0.0        1.0        0.0
3           0.0        1.0        0.0        0.0
4           0.0        1.0        0.0        0.0
...         ...        ...        ...        ...
1333        0.0        1.0        0.0        0.0
1334        1.0        0.0        0.0        0.0
1335        0.0        0.0        1.0        0.0
1336        0.0        0.0        0.0        1.0
1337        0.0        1.0        0.0        0.0

[1338 rows x 4 columns]

In [51]:
X_num = df3[['age', 'bmi', 'children']].copy()

In [52]:
X_final = pd.concat([X_num, region, sex, smoker], axis=1)

In [53]:
y_final = df3[['charges']].copy()

In [60]:
X_train, X_test, y_train, y_test = train_test_split(
    X_final, y_final, test_size=0.33, random_state=0
)

In [73]:
s_scaler = StandardScaler()
X_train = s_scaler.fit_transform(X_train.astype(np.float))
X_test = s_scaler.transform(X_test.astype(np.float))

In [74]:
lr = LinearRegression()

In [75]:
lr.fit(X_train, y_train)

LinearRegression()

In [76]:
y_train_pred = lr.predict(X_train)
y_test_pred = lr.predict(X_test)

In [77]:
print("lr.coef_: {}".format(lr.coef_))

lr.coef_: [[3624.36356197 1966.90473927  661.35603447  242.57758422  -29.49212715
  -104.19142495  -99.14488063  -44.54996175 9310.54961689]]

In [78]:
print("lr.intercept_: {}".format(lr.intercept_))

lr.intercept_: [13141.35083164]

In [79]:
print("lr train score: {:.3f}".format(lr.score(X_train, 
                                           y_train)))

lr train score: 0.728

In [81]:
# print("lr test score {:.3f}".format(lr.score(X_test,
#                                              y_test)))

In [82]:
X_train, X_test, y_train, y_test = train_test_split(
    df3[['age']], y_final, test_size=.33, random_state=0
)

In [83]:
n_scaler = MinMaxScaler()
X_train = n_scaler.fit_transform(X_train.astype(np.float))
X_test = n_scaler.transform(X_test.astype(np.float))

In [84]:
lr = LinearRegression().fit(X_train, y_train)

In [85]:
y_train_pred = lr.predict(X_train)
y_test_pred = lr.predict(X_test)

In [86]:
print("lr.coef_: {}".format(lr.coef_))

lr.coef_: [[11277.65075162]]

In [87]:
print("lr.intercept_: {}".format(lr.intercept_))

lr.intercept_: [7870.82218311]

In [88]:
print("lr train score: {:.3f}".format(lr.score(X_train,
                                               y_train)))

lr train score: 0.084

In [89]:
print("lr test score: {:.3f}".format(lr.score(X_test,
                                              y_test)))

lr test score: 0.097

In [91]:
poly = PolynomialFeatures(degree=2)
X_poly = poly.fit_transform(X_final)

In [92]:
X_train, X_test, y_train, y_test = train_test_split(
    X_poly, y_final, test_size=0.33, random_state=0
)

In [95]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train.astype(np.float))
X_test = sc.transform(X_test.astype(np.float))

In [96]:
poly_lr = LinearRegression().fit(X_train, y_train)

In [97]:
y_train_pred = poly_lr.predict(X_train)
y_test_pred = poly_lr.predict(X_test)

In [98]:
print("poly train score {:.3f}".format(poly_lr.score(X_train,
                                                     y_train)))

poly train score 0.828

In [100]:
print("poly test score: {:.3f}".format(poly_lr.score(X_test,
                                                     y_test)))

poly test score: 0.870

In [102]:
svr = SVR(kernel='linear', C=300)

In [103]:
X_train, X_test, y_train, y_test = train_test_split(
    X_final, y_final, test_size=0.33, random_state=0
)

In [104]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train.astype(np.float))
X_test = sc.transform(X_test.astype(np.float))

In [105]:
svr = svr.fit(X_train, y_test.values.ravel())

ValueError: Found input variables with inconsistent numbers of samples: [896, 442]