In [3]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Wed Nov 16 20:08:23 2022

@author: Januario Cipriano
"""

'\nCreated on Wed Nov 16 20:08:23 2022\n\n@author: Januario Cipriano\n'

In [4]:
%autosave 5

Autosaving every 5 seconds

In [84]:
import numpy as np
import pandas as pd
import seaborn as sns
from random import randint, choice
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split

%matplotlib inline

In [85]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

In [86]:
from sklearn.linear_model import LinearRegression

In [18]:
df1 = pd.read_csv('../Exercise Files/Datasets/insurance.csv')

In [19]:
count_na = df1.isnull().sum()

In [20]:
count_na

age         0
sex         0
bmi         5
children    0
smoker      0
region      0
charges     0
dtype: int64

In [21]:
count_na[count_na > 0]

bmi    5
dtype: int64

In [22]:
df1.drop('bmi', axis=1, inplace=True)

In [23]:
count_na = df1.isnull().sum()

In [24]:
count_na

age         0
sex         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [25]:
count_na[count_na > 0]

Series([], dtype: int64)

In [30]:
df2 = pd.read_csv('../Exercise Files/Datasets/insurance.csv')

In [31]:
count_na = df2.isnull().sum()
count_na

age         0
sex         0
bmi         5
children    0
smoker      0
region      0
charges     0
dtype: int64

In [32]:
count_na[count_na > 0]

bmi    5
dtype: int64

In [33]:
imputer = SimpleImputer(strategy='mean')

In [34]:
imputer.fit(df2['bmi'].values.reshape(-1, 1))

SimpleImputer()

In [35]:
df2['bmi'] = imputer.transform(df2['bmi'].values.reshape(-1, 1))

In [37]:
count_na = df2.isnull().sum()

In [38]:
count_na

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [39]:
count_na[count_na > 0]

Series([], dtype: int64)

In [40]:
df3 = pd.read_csv('../Exercise Files/Datasets/insurance.csv')

In [41]:
count_na = df3.isnull().sum()
count_na

age         0
sex         0
bmi         5
children    0
smoker      0
region      0
charges     0
dtype: int64

In [42]:
count_na[count_na > 0]

bmi    5
dtype: int64

In [43]:
df4 = pd.read_csv('../Exercise Files/Datasets/insurance.csv')

In [44]:
count_na = df4.isnull().sum()

In [45]:
count_na

age         0
sex         0
bmi         5
children    0
smoker      0
region      0
charges     0
dtype: int64

In [46]:
count_na[count_na > 0]

bmi    5
dtype: int64

In [47]:
df4['bmi'].fillna(df4['bmi'].mean(), inplace=True)

In [48]:
count_na = df4.isnull().sum()

In [49]:
count_na[count_na > 0]

Series([], dtype: int64)

In [50]:
region = df3['region']
region_enconded, region_categories = pd.factorize(region)

In [51]:
region[:10]

0    southwest
1    southeast
2    southeast
3    northwest
4    northwest
5    southeast
6    southeast
7    northwest
8    northeast
9    northwest
Name: region, dtype: object

In [52]:
region_enconded

array([0, 1, 1, ..., 1, 0, 2], dtype=int64)

In [53]:
region_categories

Index(['southwest', 'southeast', 'northwest', 'northeast'], dtype='object')

In [54]:
d = pd.DataFrame({
    'country': ['China', 'India', 'United States'],
    'year': [2018, 2018, 2018],
    'co2_emissions': [1.23e9, 1.456e7, 1.723e8]
})
d

         country  year  co2_emissions
0          China  2018   1.230000e+09
1          India  2018   1.456000e+07
2  United States  2018   1.723000e+08

In [60]:
data = pd.DataFrame({
    'year': [randint(2015, 2022) for _ in range(5000)],
    'num': [randint(1, 5000) for _ in range(5000)]
})

In [74]:
def get_rows(row):
    if row <= 1000:
        return 'Low'
    elif row <= 2500:
        return 'Medium'
    else:
        return 'High'

In [75]:
data['level'] = data['num'].apply(get_rows)

In [76]:
data.head()

   year   num   level
0  2020  3255    High
1  2018   813     Low
2  2020  1379  Medium
3  2018  2898    High
4  2015  1159  Medium

In [68]:
data['num'].median()

2559.0

In [73]:
np.linspace(min(data['num']), max(data['num']), 3)

array([1.000e+00, 2.499e+03, 4.997e+03])

In [71]:
data['num'].min(), data['num'].max()

(1, 4997)

In [80]:
region = df3['region']
region_encoded = pd.get_dummies(region, prefix='')

In [81]:
region_encoded

      _northeast  _northwest  _southeast  _southwest
0              0           0           0           1
1              0           0           1           0
2              0           0           1           0
3              0           1           0           0
4              0           1           0           0
...          ...         ...         ...         ...
1333           0           1           0           0
1334           1           0           0           0
1335           0           0           1           0
1336           0           0           0           1
1337           0           1           0           0

[1338 rows x 4 columns]

In [100]:
val = data.iloc[:, 2:3].values
le_val = LabelEncoder()
val[:, 0] = le_val.fit_transform(val[:, 0])
val = pd.DataFrame(val)
val.columns = ['val']
dict(zip(le_val.classes_, le_val.transform(le_val.classes_)))

{'High': 0, 'Low': 1, 'Medium': 2}

In [103]:
sex = df3.iloc[:, 1:2].values
smoker = df3.iloc[:, 4:5].values

In [87]:
le = LabelEncoder()

In [88]:
sex[:, 0] = le.fit_transform(sex[:, 0])
sex = pd.DataFrame(sex)
sex.columns = ['sex']

In [90]:
sex.head()

  sex
0   0
1   1
2   1
3   1
4   1

In [92]:
le_sex_mapping = dict(zip(le.classes_,
                          le.transform(le.classes_)))

In [93]:
le_sex_mapping

{'female': 0, 'male': 1}